%li.slot{data: { slot_id: slot.id, card_type: slot.card_type&.name || "" }}
  - if !slot.card.present?
    .empty_slot_content
      .pull-right
        %a{href: slot_path(slot), data: { method: :delete, remote: true, confirm: "Delete slot?"}}
          %i.fa.fa-close
      - if slot&.card_type
        %label.label.label-info.pull-right{style:"margin-right:5px"}
          = slot&.card_type&.name
      click to fill
  - else
    .card{data: {card_id: slot.card.id, card_type: slot.card_type&.name || "" } }
      .pull-right
        %a{href: slot_path(slot), data: { method: :delete, remote: true, confirm: "Delete slot with card?"}}
          %i.fa.fa-close
      - if slot.card&.card_type
        %label.label.label-info.pull-right{style:"margin-right:5px"}
          = slot.card&.card_type&.name
      = slot.card.name
      .agile-detail
        %i.fa.fa-clock-o
        = I18n.l slot.card.created_at, format: :long
