#slot_form.modal{:role => "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Slot
      = simple_form_for "slot", url: slots_path, remote: true do |f|
        .modal-body
          .input-group
            %input{type: :hidden, name: "slot[list_id]"}
            = f.input :card_type_id, as: :select, collection: CardType.all.collect { |r| [r.name, r.id]}, include_blank: "-", required: false, label: "Type"
        .modal-footer
          %button.btn.btn-white{type: "submit"} Add Slot
