%div#lists.unselectable{style:"overflow:auto;height:100%;padding-top:15px;"}
  = render "lists"

= render "new_card_form"
= render "slot_form"
#card_view_handle.modal{:role => "dialog", tabindex: "-1"}
