/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require theme/plugins/toastr/toastr.min
 *= require theme/animate
 *= require theme/style
 *= require jquery-ui
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



.slot.card-hover {
  background: white;
  .card {
    background: white!important;
  }
}

.card {
  z-index: 10;
  &.ui-draggable-dragging {
    z-index: 11;
    background: #fafafb;
  }
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


table.lists td {
  vertical-align:top;
  padding-left:20px;
  min-width:300px;
}